body {
    background: linear-gradient(90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100% 
    );
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-form {
    margin-bottom: 32px;
    padding-left: 18px;

}

.todo-input::placeholder {
    color: #e2e2e2;
}

