.catchicon {
  background-image: url(/public/catchicon.png);
  background-size: cover;
  background-position: center;
  width: 75px;
  height: 75px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 330px;
  bottom: 70px;
}

@media screen and (max-width: 1300px) {
 
  .catchicon{
  visibility: hidden;
    }
}