.catchicon {
  background-image: url(/public/catchicon.png);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 200px;
}
