.box
{
    display: none;
    background-color: rgb(224, 134, 127);
}
.header
{
    font-family: 'Space Mono', monospace;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.text
{
    font-family: 'Space Mono', monospace;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 1300px) {
 
    .box{
    display: block;
      }
}